.toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
}

.logo {
    padding: 0% 3%;
}