<div class="password-container">
    <button class="back-button" (click)="goBack()"></button>
    <img src="assets/Logo-Thrive.png" alt="Logo" class="logo">
    <div class="welcome-text">
        <h1>Forgot Password?</h1>
        <p>Don't worry! It occurs. Please enter the email</p>
        <p>address linked with your account</p>
    </div>

    <div class="form-group">
        <input type="text" id="newpassword" name="newpassword" placeholder="Enter your email">
    </div>

    <button class="login-button" (click)="goToOtpVerification()">Send Code</button>

    <div class="register-container">
        <span class="register-text">Remember Password?</span>
        <button class="register-button">Login</button>
    </div>

</div>