<div class="onboarding">
    <div class="image-container">
      <img src="assets/Onboarding.png" alt="Onboarding Image" class="onboarding-image">
      <img src="assets/Logo-Thrive.png" alt="Overlay Image" class="overlay-image">
    </div>
    <div class="button-group">
      <button class="login-button" (click)="startOnboarding()">Login</button>
      <button class="register-button" (click)="skipOnboarding()">Register</button>
      <button class="continue-guest-button" >Continue as guest</button>
    </div>
  </div>
  